<h2>Available drones</h2>
<a href="/">Back</a>
{{#each drones}}
  <h1>
    <h2>Name {{name}}</h2>
   Motors {{propellers}}
   Speed {{maxSpeed}}
  <a href="/drones/{{_id}}/edit">Edit Drone</a>
  <form action="/drones/{{_id}}/delete" method="POST">
    <button>Delete this Drone</button>
  </form>

  
  </h1>
{{/each}}